@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Cormorant Garamond", "serif";
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUpText {
  0% {
    opacity: 0;
    transform: translateY(100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 80%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

.animate-fadeInUpText {
  animation: fadeInUpText 1s ease-out forwards;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
